footer{
  background-color: $dark-gray;
  padding: 40px 20px 20px;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p{
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: $medium-gray;
    text-align: center;
  }
  a{
    color: $light-gray;
    text-align: center;
    &:hover,
    &:focus{
      color: white;
    }
  }
  .logo-footer{
    margin: 30px auto;
    img{
      width: 12%;
    }
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  footer{
    font-size: 0.8rem;
    line-height: 1rem;
    .logo-footer{
      img{
        width: 40%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 460px) 
and (max-device-width : 768px) {
  
}

@media (min-width: 768px)
and (max-width: 1200px) {

}