//Layout
html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

*,
:after,
:before{
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
aside,
section,
p,
ul,
ol,
span{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

ul{
  list-style: none;
}

body {
  background-color: $white;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  color: $dark-gray;
  section{
    &:nth-child(odd){
      background-color: $light-gray;
    }
  }
}

a{
  transition: all .15s ease-in-out;
  color: $primary-color;
  &:focus,
  &:hover {
    color: $secondary-color;
  }
}

.main-title {
  display: block;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 2.5rem 0;
}

.generic-full-cover-img {
  img {
    height: 100%;
    object-fit: cover;
  }
}

section, footer, header, div{
  .container{
    width: 100%;
    max-width: 1178px;
    margin: 0 auto;
  }
}

.grids{
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 640px){
  section, footer, header, div{
  .container{
      width: 100%;
      max-width: initial;
      margin: 0 auto;
    }
  }
}

@media only screen 
and (min-device-width : 641px) 
and (max-device-width : 1024px) {
  .container{
    width: 90%;
    max-width: initial;
    margin: 0 auto;
  }
}

@media (min-width: 1025px)
and (max-width: 1200px) {
  .container{
    width: 100%;
    max-width: 1178px;
    margin: 0 auto;
  }
}