header{
  background-color: $white;
  .container{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0;
  }
  .logo {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 18px 0;
    img{
      width: 100%;
    }
  }
  nav{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    ul{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li{
        a{
          color: $dark-gray;
          display: block;
          padding: 18px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.9rem;
          &:hover,
          &:focus{
            color: $primary-color;
          }
        }
        &:last-child{
          a{
            padding-right: 0;
          }
        }
      }
    }
  }
}