@mixin flex-center(){
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  h1, h3{
    font-size: 3rem;
    color: $primary-color;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 8%;
  }
  h2, p, h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
  }
  p, h4{
    font-size: 1.1rem;
  }
}

@mixin pseudo-block($width, $height){
  display: block;
  position: absolute;
  content: '';
  width: $width;
  height: $height;
}

@keyframes offsteps {
  0% {
    filter: opacity(100%) grayscale(0%);
  }
  100% {
    filter: opacity(30%) grayscale(100%); 
  }
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cta{
  display: inline-block;
  text-decoration: none;
  border: 1px solid $primary-color;
  border-bottom: 3px solid $primary-color;
  color: $primary-color;
  padding: 12px 20px;
  margin-top: 30px;
  border-radius: 40px;
  &:hover,
  &:focus{
    border-color: $secondary-color;
    color: $secondary-color;
  }
}

.presentation{
  .container{
    @include flex-center();
    text-align: center;
    color: $dark-gray;
    padding: 5% 0;
    min-height: calc(100vh - 70px);
    img{
      mix-blend-mode: multiply;
      width: 70%;
      margin: 8% auto 0 auto;
    }
    h1{
      font-size: 5rem;
      margin-bottom: 0;
    }
    h2{
      width: 50%;
      margin: 0 auto 4% auto;
      line-height: 130%;
    }
    .schema{
      display: grid;
      grid-template-columns: repeat(5, 20%);
      .days{
        @include flex-center();
        justify-content: flex-start;
        position: relative;
        animation: appears 2s backwards ease-out;
        &:before{
          @include pseudo-block(110px, 40px);
          position: absolute;
          background: image_url('arrow-schema.svg') no-repeat 0 0;
          top: 90px;
          right: -80px;
          transform: rotate(40deg);
        }
        &:last-child:before{
          display: none;
        }
        &.d1,
        &.d3,
        &.d5{
          padding-top: 30%;
        }
        &.d1{
          &:before{
            transform: rotate(-10deg);
            right: -55px;
          }
        }
        &.d2{
          animation-delay: 1s;
          &:before{
            transform: rotate(40deg);
            right: -70px;
          }
        }
        &.d3{
          animation-delay: 2s;
          &:before{
            transform: rotate(-10deg);
            right: -65px;
          }
        }
        &.d4{
          animation: appears 2s 3s backwards ease-out, offsteps 3s 3.5s forwards ease-in;
          &:before{
            right: -48px;
          }
        }
        &.d5{
          animation: appears 2s 4s backwards ease-out, offsteps 3s 3.5s forwards ease-in;
        }
        &:after{
          @include pseudo-block(100%, 40px);
          content: attr(data-name);
          font-family: 'Amatic SC', cursive;
          font-size: 2rem;
          font-weight: 600;
          color: $dark-gray;
          bottom: -15%;
        }
      }
    }
  }  
}

.invitation{
  background: image_url('design-sprint-enterprise-voting-continuum.jpg') fixed;
  background-size: cover;
  position: relative;
  &:before{
    @include pseudo-block(100%, 100%);
    z-index: 0;
    background-color: rgba(0,0,0,0.5);
  }
  .container{
    @include flex-center();
    padding: 120px 10%;
    min-height: 70vh;
    position: relative;
    z-index: 1;
    .box{
      background-color: $white;
      padding: 8%;
      h3{
        text-align: left;
      }
    }
  }
}

.how{
  .container{
    @include flex-center();
    padding: 5% 0;
    min-height: 100vh;
    .how-container{
      display: grid;
      grid-template-columns: 70% 30%;
      .how-description{
        h3{
          color: $secondary-color;
          margin-bottom: 4%;
          text-align: left;
        }
      }
      .how-image{
        img{
          width: 85%;
        }
      }
    }
    
    .steps{
      display: grid;
      grid-template-columns: repeat(6, 16%);
      grid-column-gap: 10px;
      margin: 20px 0 0;
      .steps-step{
        padding: 5% 10% 25% 5%;
        position: relative;
        &:first-child{
          border-right: 1px dashed $medium-gray;
          padding-left: 0;
        }
        &:nth-child(4){
          border-right: 1px dashed $medium-gray;
        }
        &:last-child{
          padding-right: 0;
        }
        .step-title{
          position: absolute;
          border-bottom: 3px solid $primary-color;
          display: inline-block;
          color: $primary-color;
          text-transform: uppercase;
          font-size: 0.7rem;
          font-weight: bold;
          padding: 3px 10px;
          bottom: 0;
          &:hover,
          &:focus{
            color: $secondary-color;
            border-color: $secondary-color;
          }
          &:focus{
            border-width-top: 2px;
            border-width-top: 1px;
          }
        }
        .step-subtitle{
          font-family: 'Amatic SC', cursive;
          font-size: 1.6rem;
          padding: 5px 0;
        }
        .step-image{
          margin: 15px auto;
          height: 180px;
          text-align: center;
          img{
            width: 85%;
          }
        }
        p{
          font-size: 0.8rem;
        }
      }
    }
    .steps-client-block{
      display: grid;
      grid-template-columns: 15.9% 50.6% auto;
      span{
        position: relative;
        display: block;
        grid-column: 2 / span 1;
        padding: 30px 10px 10px;
        text-align: center;
        &:before{
          @include pseudo-block(100%, 1px);
          background-color: $medium-gray;
          top: 45px;
          width: 98%;
          z-index: 0;
        }
        p{
          display: inline-block;
          font-size: 0.8rem;
          text-transform: uppercase;
          position: relative;
          z-index: 1;
          background-color: white;
          padding: 5px 10px;
        }
      }
    }
  }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){  
  .presentation .container{
    padding: 10% 6%;
    min-height: 90vh;
    h1{
      font-size: 2.4rem;
      letter-spacing: -0.06rem;
    }
    h2{
      width: 100%;
      font-size: 1rem;
    }
    .schema{
      width: 90%;
      margin: 0 auto;
      .days.d1,
      .days.d3,
      .days.d5{
        padding-top: 0;
      }
      .days{
        img{
          width: 100%;
        }
      }
      .days:after{
        position: relative;
        font-size: 0.9rem;
      }
      .days:before{
        display: none;
      }
    }
    img{
      width: 50%;
    }
  }
  
  .invitation{
    background-position-x: center;
    &:before{
      background-color: rgba(0,0,0,0.7);
    }
    .container{
      padding: 2%;
      .box{
        background-color: transparent;
        color: white;
        text-align: center;
        font-size: 1rem;
        line-height: 1.4rem;
        h3{
          text-align: center;
          font-size: 2.4rem;
          letter-spacing: -0.06rem;
          display: block;
        }
        p{
          font-size: 0.9rem;
          line-height: 1.2rem;
        }
      }
    }
  }

  .how{
    .container{
      .how-container{
        display: block;
        padding: 6%;
        .how-description{
          h3, h4{
            text-align: center;
            font-size: 0.9rem;
            line-height: 1.2rem;
          }
          h3{
            font-size: 1.7rem;
            letter-spacing: -0.06rem;
          }
        }
        .how-image{
          text-align: center;
          img{
            margin: 10px auto;
            width: 70%;
          }
        }
      }
      .steps{
        display: block;
        padding: 0 6% 6% 6%;
        margin-top: 0;
        .steps-step{
          border: none;
          padding: 5px !important;
          &:first-child,
          &:nth-child(4){
            border: none;
          }
          .step-image{
            float: left;
            height: 200px;
            width: 45%;
            img{
              height: 100%;
            }
          }
          .step-title{
            position: relative;
          }
          &:nth-child(odd){
            .step-image{
              float: right;
            }
          }
        }
      }
      .steps-client-block{
        display: none;
      }
    }
  }
}

@media only screen 
and (min-device-width : 460px) 
and (max-device-width : 768px) {
  
}

@media (min-width: 768px)
and (max-width: 1200px) {

}