@mixin flex-center(){
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  h1, h3{
    font-size: 3rem;
    color: $primary-color;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 8%;
  }
  h2, p, h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
  }
  p, h4{
    font-size: 1.1rem;
  }
}

@mixin pseudo-block($width, $height){
  display: block;
  position: absolute;
  content: '';
  width: $width;
  height: $height;
}

.presentation{
  .container{
    @include flex-center();
    text-align: center;
    color: $dark-gray;
    padding: 5% 0;
    min-height: calc(100vh - 70px);
    img{
      mix-blend-mode: multiply;
      width: 70%;
      margin: 8% auto 0 auto;
    }
    h1{
      font-size: 5rem;
      margin-bottom: 0;
    }
    h2{
      width: 50%;
      margin: 0 auto 4% auto;
      line-height: 130%;
    }
    .schema{
      display: grid;
      grid-template-columns: repeat(5, 20%);
      .days{
        @include flex-center();
        justify-content: flex-start;
        position: relative;
        animation: appears 2s backwards ease-out;
        &:before{
          @include pseudo-block(110px, 40px);
          position: absolute;
          background: image_url('arrow-schema.svg') no-repeat 0 0;
          top: 90px;
          right: -80px;
          transform: rotate(40deg);
        }
        &:last-child:before{
          display: none;
        }
        &.d1,
        &.d3,
        &.d5{
          padding-top: 30%;
        }
        &.d1{
          //animation-delay: 3s;
          &:before{
            transform: rotate(-10deg);
            right: -55px;
          }
        }
        &.d2{
          animation-delay: 1s;
          &:before{
            transform: rotate(40deg);
            right: -70px;
          }
        }
        &.d3{
          animation-delay: 2s;
          &:before{
            transform: rotate(-10deg);
            right: -65px;
          }
        }
        &.d4{
          animation: appears 2s 3s backwards ease-out, offsteps 3s 5s forwards ease-in;
          &:before{
            right: -48px;
          }
        }
        &.d5{
          animation: appears 2s 4s backwards ease-out, offsteps 3s 5s forwards ease-in;
        }
        &:after{
          @include pseudo-block(100%, 40px);
          content: attr(data-name);
          font-family: 'Amatic SC', cursive;
          font-size: 2rem;
          font-weight: 600;
          color: $dark-gray;
          bottom: -15%;
        }
      }
    }
  }  
}

@keyframes offsteps {
  0% {
    filter: opacity(100%) grayscale(0%);
  }
  100% {
    filter: opacity(30%) grayscale(100%); 
  }
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.invitation{
  background: image_url('sketching.jpg') fixed;
  background-size: cover;
  position: relative;
  &:before{
    @include pseudo-block(100%, 100%);
    z-index: 0;
    background-color: rgba(0,0,0,0.2);
  }
  .container{
    @include flex-center();
    padding: 120px 10%;
    min-height: 70vh;
    position: relative;
    z-index: 1;
    .box{
      background-color: $white;
      text-align: center;
      padding: 8%;
    }
  }
}

.how{
  .container{
    @include flex-center();
    padding: 5% 0;
    h3{
      color: $secondary-color;
    }
    h4{
      text-align: center;
    }
  }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  
}

@media only screen 
and (min-device-width : 460px) 
and (max-device-width : 768px) {
  
}

@media (min-width: 768px)
and (max-width: 1200px) {

}