<section class="how">
  <div class="container">
    <h3><%= t('how.how-title') %></h1>
    <h4><%= t('how.subtitle') %></h4>
    <div class="card">
      <h4>Definir</h4>
      <h5>Día 1</h5>
      <p>En este día se deberá priorizar cuál es el desafío que se abordará durante la semana. Cuál es el objetivo a alcanzar y qué es lo que se debe validar o comprobar</p>
    </div>
  </div>
</section>